otc-api-sign-sdk-python @ git+https://github.com/opentelekomcloud-community/otc-api-sign-sdk-python.git
fg-timer-event @ git+https://github.com/opentelekomcloud-community/otc-functiongraph-python-runtime.git@main#subdirectory=fg-events/fg-timer-event
requests