#../../fg-events/fg-dms4rocketmq-event
fg-dms4rocketmq-event @ git+https://github.com/opentelekomcloud-community/otc-functiongraph-python-runtime.git@main#subdirectory=fg-events/fg-dms4rocketmq-event
