#../../fg-events/fg-kafkaopensource-event
fg-kafkaopensource-event @ git+https://github.com/opentelekomcloud-community/otc-functiongraph-python-runtime.git@main#subdirectory=fg-events/fg-kafkaopensource-event
